// app global css in SCSS form
@import 'src/css/mixins';

@include add-color('app-background', $app-background);

// List
// ----------------------------------------
ul {
  margin: 0;
}

.no-list-style {
  list-style: none;
  padding: 0;
}

// space
$margin-directions: ('mt': 'margin-top', 'mr': 'margin-right', 'mb': 'margin-bottom', 'ml': 'margin-left');
$breakpoints-steps: 'xs', 'sm', 'md', 'lg', 'xl';
@each $direct, $margin in $margin-directions {
  @each $breakpoint in $breakpoints-steps {
    .negative-#{$direct}-#{$breakpoint} {
      #{$margin}: -1 * map-get(map-get($spaces, #{$breakpoint}), if($direct == 'mt' OR $direct == 'mb', y, x));
    }
  }
}

// General styles
// ----------------------------------------
.text-underline {
  text-decoration: underline;
}

.text-normal {
  font-weight: normal;
}

.text-wrap {
  &,
  td {
    white-space: normal;
    word-break: break-word;
  }
}

.text-wrap-line {
  white-space: pre-line;
}

.text-minor {
  font-size: .75rem;
}

.no-outlined {
  .q-field__control::before {
    display: none;
  }
}

.cursor-move {
  cursor: move;
}

// Borders (color is setup by color class)
// ----------------------------------------
.border {
  border: 2px solid;
}

.dash-border {
  border: 2px dashed;
}

.no-min-height {
  min-height: auto;
}

.no-min-width {
  min-width: auto;
}

.no-underline {
  text-decoration: none;
}
